@page "/"
@namespace BudgetWise.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BudgetWise</title>

    <base href="~/" />

    <!-- CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="css/import-styles.css" rel="stylesheet" />
</head>

<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Dashboard chart functions -->
    <script src="~/js/dashboardCharts.js"></script>

    <!-- Blazor Server -->
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
